
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}
p{
    font-size: 1.8rem;
    color: white;
}

.Cs-logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cs-logo>img{
    border-radius: 10px;
    line-height: 100%;
    
}

nav{
    top: 0;
    position: fixed; scroll-behavior: smooth;
    z-index: 1000;
}
nav{
    height: 100px;
    background-color:#8c1515;
    padding: 0.8rem 8%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
nav ul{
list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin-left: 6rem;
}
nav ul li a{
    color: white;
    transition: .2s ease-in;
    font-size: 1.2rem;
    text-decoration: none;
}
nav ul li a:hover{
    text-shadow: 5px 5px 30px white;
    border-radius: 10px;
    color: #0d2935;

}
.imgCs{
    width: 95%;
    margin: auto;
    background-color: green;
    height: 50vh;
    margin-top: 15vh;
    
}
.courses{
    
    width: 95%;
    display: flex;
    margin: auto;
    padding: 0px 10px;
    background-color: red;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    
}
.leftCourse{
    width: 40%;
background-color: pink;
}
.leftCourse>h1{
    text-align: center;
    font-size: 3rem;
}
.head{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 17px;
}
.CScode{
    display: flex;
    flex-direction: row;
    gap: 15rem;
    padding: 20px 20px;
}
.shortCourses{
    height:90vh;
    width: 100vw;
    display: flex;
   gap: 2rem;
    flex-wrap: wrap;
    padding: 70px;
}
.MBdev, .cCNa,.Programming,.Infosec{
    height: 62vh;
    width: 22%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color:#f4f4f4;
    transition: .2s ease;
    flex-wrap: wrap;
    border-radius: 20px;
}
.MBdev>img,.cCNa>img,.Programming>img,.Infosec>img{
    border-radius: 15px;
}
.description>h2{
    color: #0a5167;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 20px 20px;
}

.description>p{
    color: #656561;
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0px 20px;
}

.footer{
    background-color:#8c1515;
    width: 95%;
    height: 80vh;
    margin: auto;
    display: flex;
    
}

.left{
height: 94%;
width: 30%;
padding: 25px;
display: flex;
flex-direction: column;
position: relative;
}
.left>input{
    padding: 20px;
    width: 20vw;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}
button{
    padding: 16px;
    position: absolute;
    width: 5vw;
    font-size: 2rem;
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: rgb(95, 94, 94);
    color: white;
    border: none;
    top: 53vh;
    left:20vw ;
    z-index: 1000;
    
}
.left>.input>::placeholder{
    color: red;
}
.left>p{

}
.left>li{
    padding-top: 20px;
}
.right{
    background-color: #8c1515;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    width: 70%;
}
.up{
    height: 50%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
}
.up>section>li{
    padding-top: 20px;
}
.up>section>li>a{
    transition: .2s ease;
}
.up>section>li>a:hover{
color: rgb(143, 143, 143);
text-decoration: underline;
}
.down{
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 20rem;
    padding: 30px;
}
.downleft>h2 , .downright>h2{
    color: white;
    font-weight: 800;
    font-size: 2rem;

}
.downleft{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.downleft>li{
    color: white;
    font-size: 1.8rem;
}
.right{
    display: flex;
    flex-direction: column;
}


@media(max-width:600px){
.courses{
    width: 100%;
    background-color: green;
    flex-direction: column;
}
.head{
    width: 100%;
    flex-wrap: nowrap;
}
}