
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Source Sans\ 3,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}
a{
    text-decoration: none;
    font-weight:400 ;
    font-size: 1.3rem;

}
h1 {
    font-weight: 800;
    font-size: 2.6rem;
}

h2 {
    font-weight: 800;
    font-size: 2.4rem;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
}

img {
    width: 100%;
    height: auto;
   
}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}
.main{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('MEDIA/circuit.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.Cs-logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cs-logo>img{
    border-radius: 10px;
    line-height: 100%;
    
}

nav{
    top: 0;
    position: fixed; 
    scroll-behavior: smooth;
    z-index: 1000;
}
nav{
    height: 100px;
    background-color:#2c2a58;
    padding: 0.8rem 8%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul{
list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin-left: 6rem;
}
nav ul li a{
    color: white;
    transition: .2s ease-in;
    padding-bottom: 5px;
}
nav ul li a:hover{
   
    border-bottom: 2px solid #b01212;


}

box-icon{
    display: none;
}
.row{
    color: white;
    height: 70vh;
    justify-content: center;
    
}
.row>h1{
    text-align: center;
    animation: smoothMotion 20s linear infinite;
    padding-top:35px ;
}

.row>h2{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    animation: slide 5s linear ; 
    animation-delay: 5s;
    display: none;
}

#message-container {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    color: #e6db5a  ;
    width: 80%;
    
    border-radius: 10px;
}
.afterM{
    height: 15vh;
    background-color: #2c2a58;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    align-items: center;
   display: flex;
}
.spotlight{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
   
    padding: 30px 80px;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: #727374;
}
.mypic{
    height: 160px;
    width: 160px;
    background-color: rgb(45, 43, 43);
    border-radius: 50%;
    position: relative; 
    overflow: hidden;
    
}
.mypic>img{
position: absolute;
top: -15vh;
}

.mytext{
    display: flex;
    /* flex-wrap: wrap; */
    padding-top: 20px;
    text-align: left;
    flex-direction: column;
}
#graduatText{
    width: 90%;
    height: 30vh;
    margin: auto;
    /* background-color: rgb(45, 43, 43); */
    background-color: #727374;
    padding: 10px 0px;
    display: flex;
    color: white;
    
   
}
#graduatText>div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.gradImg{
    width: 90%;
    height:60vh;
    flex: 1;
    margin: auto;
    padding: 20px;
    background-color: #727374;
}
#graduatText>p, h2{
    padding: 20px 20px;
}
.video-container {
    height:60vh;
    width: 90%;
    position: relative;
    margin: auto;
    overflow: hidden;
    top: 60px;
   
}
.gateway{
    width: 90%;
    margin: auto;
    height:10vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: silver;
}
.gateway>h2{
    font-size: 3rem;
    color: #0d2935;

}
.gateway>p{
    font-size: 1.8rem;
    color: #595a5b;
}
.facRes{
    height: 55vh;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 20px 0px;
    justify-content: center;

}
.fac,.Res{
    height: 40vh;
    width: 40vw;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.fac>img, .Res>img{
    border-radius: 10px 10px 0px 0px;
}
.fac>p, .Res>p{
    color: #727374;
    font-size: 2rem;
    padding: 15px;
}
.fac>p>strong , .Res>p>strong{
    color: #2c2a58;
    font-size:2.5rem ;
    transition: .2s ease-in
    ;
    font-weight: 700;
    padding-bottom: 20px;
}
.fac>p>strong:hover , .Res>p>strong:hover{
    padding-left: 5px;
}
.explore{
    height: 20vh;
    padding: 10px;
    background-color: #2c2a58;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.fa-arrow-right:hover{

}
.explore>a{
    color: #e6db5a;
    text-decoration: none;
    font-size: 1.9rem;
    transition: .6s ease;
    cursor: pointer;
}
.explore>a:hover{
    font-size: 2.2rem;
   
}

.footerB{
    /* height:30vh; */
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;
}

.btntext{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 30%;
    align-items: center;
    /* flex-wrap: wrap; */

}
.btntext>p{
    font-size: 1.8rem;
    color: #727374;
    text-align: center;
}
.btnlinks{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.btnlinks>button{
    padding: 25px;
    background-color: #f4f4f4;
    width: 18vw;
    border-radius: 10px;
    color: #2c2a58;
    font-size: 2rem;
    font-weight: 800;
    border: none;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); ;
} 
.btnlinks>a{
    font-size: 2.5rem;
    color: #2c2a58;
    text-align: center;
    font-weight: 900;
}
.footer{
    width: 100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3rem;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
   }
   .footlinks{
    height: 45vh;
    width: 20vw;
    padding: 20px;
   }
   .footlinks>li{
    padding: 10px;
    list-style: none;
   }
   .footlinks>li>a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #2c2a58;
    font-weight: 600;

   }
   .footlinks>li>a:hover{
    text-decoration: underline;
    cursor: pointer;
   }
   .footlinks>li>i{
    font-size: 2.5rem;
    color: #2c2a58;
    transition: .2s ease;
   }
   .footlinks>p{
    font-size: 2.6rem;
    font-weight: 700;
    color: #727374;
   }
   .footlinks>li>i:hover{
padding-left: 4px;
cursor: pointer;
   }

   .mainFoot{
    background-color: #2c2a58;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: auto;
    gap: 3rem;
    position: absolute;
   }
.footLogo{
    height: 10vh;
    width: 20vw;
    display: flex;
    justify-content: center;
}
.accessLinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.accessLinks>li{
    list-style: none;
}
.accessLinks>li>a{
    text-decoration: none;
    color: #e6db5a;
    font-size: 1.6rem;
    gap: 3rem;
}
.accessLinks>li>a:hover{
    text-decoration: underline;
}
.accessLinks>.icons>i{
    font-size: 3rem;
    color: white;
    padding-left: 3rem;
}
.accessLinks>.icons>i:hover{
    cursor: pointer;
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#back-to-top-btn:hover {
    background-color: #2980b9;
}

.icons{
    display: flex;
    flex-direction: row;
    
}





/* MEDIA QUERIES */
@media (max-width:800px) {
   
    
   .footerB{
    flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 90%;
   padding: 20px 10px;
   margin: auto;
   gap: 2rem;
   }
   .btntext{
    display: flex;
    justify-content: center;
    width: 80%;
   }
   .btntext>{
    font-size: 2.5rem;
    text-align: center;
    
   }
   .btnlinks>button{
    width: 40vh;
    padding: 20px;
   }
   
    .explore{
       margin-top: 20px;
        }
    nav ul {
        background-color: rgba(0, 0, 0, 0.7);
        display: block;
       width: 30vw;
       position: relative;
        left: 50vw;
        height:75vh;
       margin-top: -75px !important;
       
    }
    nav {
        flex-direction: column;
        position: relative;
        top: 0;
        position: fixed; scroll-behavior: smooth;
        z-index: 1000;
    }
    .showList{
        display: block;
    }
    box-icon {
        display: block;
        position: absolute;
        top: 18px;
        right: 0px !important;
        
    }
    nav ul li {
        display: block;
        padding:  0;
       padding: 4px;
        text-align: left;
        margin-left: 0rem;
       line-height: 24px;
       
    }
    nav ul li a:hover{
color: #2c2a58;
transition: .2s  ease-in-out;

    }

    nav ul li a {
        color: whitesmoke;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .Cs-logo{
        padding-top: 50px;
        width: 30%;
        height: 90%;
       position: relative;
       top: -29px;
        
    }

    .row>h1{
        font-size: 1.4rem;
        text-align: left;
     }

     #graduatText{
       display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 1.5rem;
        height: 120vh;
        }
     .gradImg{
        height: 50vh;
        width: 90%;
        padding-top: 80px;
     }
     .video-container{
        height: 30vh;
     }
     .facRes{
        height: 240vh;
     }
     .fac>p>strong, .Res>p>Strong{
        font-size: 2rem;
    }
    .fac>p, .Res>p{
        font-size: 2.5rem;
    }
    .gateway{
        height: 60vh;
        padding: 15px;
}   
    .fac,.Res{
        height: 55vh;
        width: 75vw;
    }
    
}







/* media query 450px */
@media (max-width:480px) {

    
    .showList{
        display: block;
    }
    box-icon {
        display: block;
        position: absolute;
        top: 24px;
        right: 30px !important;
        
    }


    .mainFoot{
        height: 85vh;
        width: 100%;
        flex-direction: column  ;
        justify-content: center;
        padding-left: 20px;

    }
    .icons{
       display: block;
       padding-left: 5vw;
       padding-top:20px ;
       display: flex; 
        justify-content: center;
    }
    .accessLinks>.icons>i{
        font-size: 3rem;
    }
    .footLogo{
        width: 90%;
        height: 10vh;
        justify-content: center;
    }
    .accessLinks{
        flex-direction: column;
        height: 55vh;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .accessLinks>li{
        padding-top: 15px;
        padding-left: 20px;
        
    }
    .accessLinks>li>a{
        text-align: center;
        padding-left: 20px;
        font-size: 1.8rem;
    }
    .accessLinks>li>a:hover{
        text-decoration: underline;
    }

    .footer{
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .footlinks{
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footlinks>p{
        font-size: 1.8rem;

    }
    .footlinks>li>a{
        font-size: 1.8rem;
    }
    .mypic>img{
        top: -15vh;
    }
    .facRes{
        height: 310vh;

    }
    .fac,.Res{
        height: 60vh;
    }
    .fac>p>strong, .Res>p>Strong{
        font-size: 2rem;
    }
    .fac>p, .Res>p{
        font-size: 1.6rem;
    }
    .gateway{
        height: 70vh;
        padding: 15px;
    }
    .gateway>p{
        color: #0d2935;
    }
    .gradImg{
        height: 40vh;
        padding: 20px;
    }
    
    #message-container{
        height: 60px;
        width: 100%;
        display: flex;
        flex-grow: 1;
    }
    #message-container>*{
       font-size: 1.2rem;     
    }

    #graduatText{
       display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 1.5rem;
        height: 87vh;
        }
        .afterM>h2{
             font-size: 1.5rem;   
             text-align: center;  
        }
        nav{
            top: 0;
        position: fixed; scroll-behavior: smooth;
        z-index: 1000;
        }
        nav ul {
            background-color: rgba(0, 0, 0, 0.9);
            display: none;
           width: 101vw;
           position: absolute;
            left: 0vw;
            top: 26vh;
           margin-top: -75px !important;
           right: 70px;
           padding: 20px;
             height: 55vh;
        }
        nav ul li{
            height: 55px;
            
            width: 100%;
            border-bottom: 1px solid whitesmoke;
        }
        nav ul li a{
            padding: none;
            font-size: 1.2rem;
           
        }
        .Cs-logo{
            
        }
        .row{
            flex-wrap: wrap;
        }
        .row>h1{
            font-size: 1.1rem;
            text-align: left;
        }
        .spotlight{
            width: 100%;
            flex-wrap: wrap;
        }
        .btntext>p{
            font-size: 1.8rem;
        }
        .footlinks>li>i{
            font-size: 1.2rem;
        }
    }
   
    

    @keyframes smoothMotion {
        0% , 100%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.2);
        }
    }
    @keyframes slide {
        0% {
            /* transform: translate(0); */
            /* display: flex; */
            left: 0;
            display: block;
        }
        100%{
            transform: translate(100%);
            left: 0;
            /* opacity: 0; */
            display: none;
        }
    }



    /* 1240 screen size */
    @media(min-width:1240px){
        .mainFoot{
            width: 100%;
        }
        .accessLinks>li>a{
            font-size: 1.6rem;
            
        }
        
        .facRes{
            height: 85vh;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
        }
        .fac,.Res{
            height: 60vh;
            width: 21vw;
        }
        .fac>p,.Res>p{
            font-size: 1.5rem;
        }
        .gradImg{
            height: 90vh;
         
        }
        .row>h1{
            padding-top: 55px;
        }
        .gateway{
            width: 90%;
            padding: 0px 20px;
            height: 45vh;
        }
    
        #graduatText{
            height: 40vh;
           
        }
        #graduatText>div>p{
            font-size: 2rem;
        }
        #graduatText>div>h2{
            font-size: 3rem;
        }
        .mytext>p{
            font-size: 1.5rem;
        }
        .mypic{
            width: 206px;
            height: 210px;
        }
        .mypic>img{
            top: -24vh;
        }
        .btnlinks>button{
            width: 50vw;
            
        }
        .footer{
            height: 90vh;
        }
        .footerB{
            padding: 10px 20px;
            height: 70vh;
        }
        .footlinks{
            width: 30%;
        }
        .btnlinks>button:hover{
            cursor: pointer;
        }
       
        .spotlight{
            flex-wrap: wrap;
        }

        .icons{
            padding-left: 6vw;
        }

    }
@media  (min-width:801px) and (max-width:1239px){
    /* nav ul {
        background-color: rgba(0, 0, 0, 0.7);
        display: block;
       width: 30vw;
       position: relative;
        top: 9.2rem;
       height: 40vh;
       right: 40px;
    }
    nav ul li{
        width: 40vw;

    }
    nav{
        flex-wrap: nowrap;
    }
    .showList{
        display: block;
    } */

    box-icon {
        display: none;
        position: absolute;
        top: 30px;
        right:90px;
    }
    .facRes{
        width: 80%;
         height: 150vh;
    }
    .gradImg{
        height: 50vh;
        
    }
    .mypic{
       width: 35vw;
    }
    .mypic>img{
        position: relative;
        top: -17vh;
    }
    #graduatText>div>p{
        font-size: 2rem;
    }
    #graduatText{
        height: 40vh;
    }
    .gradImg{
        height: 65vh;
    }
    .gateway{
        height: 45vh;
        padding: 20px;
    }
    .facRes{
        width: 60vw;
        height: 160vh;
    }
    .fac,.Res{
        height:70vh;
        width: 50vh;
       
    }
    .fac>p,.Res>p{
        font-size: 1.5rem;
    }
    .btntext>p{
        font: 1.5rem;
    }
    .btnlinks>button{
        font-size: 1.5rem;
        width: 40vw;
    }
}
@media (min-width:1546px) and (max-width:2100px){

.facRes{
    width: 100%;
    padding-top: 40px;
    height: 75vh;
    
}
.fac,.Res{
    height: 50vh;
    width: 35vw;
}
.fac>p,.Res>p{
    font-size: 1.8rem;
}
#graduatText>div>p{
    font-size: 2.5rem;
}
.gradImg{
    height: 85vh;
}
.mypic>img{
    position: relative;
    top: -12vh;
}
.mytext>p{
    font-size: 2.5rem;
}
.footerB{
    height: 40vh;
}
}
    